@charset "UTF-8";
/* mixin breakpoint*/
/* mixin font*/
/* mixin display-none*/
@media screen and (max-width: 768px) {
  .sp-none {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .pc-none {
    display: none;
  }
}

/* mixin direction*/
.f-serif {
  font-family: "Noto Serif JP", serif;
}

.f-sans {
  font-family: "Noto Sans JP", sans-serif;
}

.f-outfit {
  font-family: "Outfit", sans-serif;
}

html {
  font-size: 0.7320644217vw;
  font-family: "Noto Sans JP", sans-serif;
  color: #333;
}
@media screen and (max-width: 768px) {
  html {
    font-size: 2.666666667vw;
  }
}
@media screen and (min-width: 768px) {
  html {
    font-size: 62.5%;
  }
}

@media screen and (min-width: 768px) {
  body {
    background-image: url(../img/bg_common.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-blend-mode: luminosity;
    background-color: #000000;
  }
  body::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.28);
  }
}

h1 {
  font-size: 3.6rem;
  font-weight: bold;
  line-height: 4.5rem;
}

h2 {
  font-size: 2.4rem;
}

p {
  font-size: 1.6rem;
  line-height: 3.2rem;
}

.l-container {
  width: 87.5%;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .l-container {
    width: 42rem;
    margin-left: 3rem;
  }
}

.l-contents {
  padding-top: 8rem;
  padding-bottom: 8rem;
  background-color: #fafafa;
}

@media screen and (min-width: 768px) {
  .l-main-container {
    position: relative;
    max-width: 48rem;
    margin: auto;
  }
  .l-side-container {
    width: calc((100% - 48rem) / 2);
    height: 100vh;
    position: fixed;
    top: 0;
    z-index: 0;
  }
  .l-side-container.-left {
    left: 0;
  }
  .l-side-container.-right {
    right: 0;
  }
}
.sticky {
  height: 180vh;
  display: block;
  background-color: #fafafa;
  position: sticky;
  top: 0;
}
@media screen and (min-width: 768px) {
  .sticky {
    height: fit-content;
    position: relative;
  }
}
.sticky-wrapper {
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 1rem;
}
@media screen and (min-width: 768px) {
  .sticky-wrapper {
    height: fit-content;
    position: relative;
    padding: 0 3.2rem;
  }
}
.sticky-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
@media screen and (min-width: 768px) {
  .sticky-inner {
    position: relative;
    width: 100%;
    height: auto;
  }
}

.c-slider {
  width: calc(100% + 2rem);
  margin-left: -1rem;
  margin-right: -1rem;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  padding-bottom: 4.8rem;
  z-index: 1;
  display: block;
}
@media screen and (min-width: 768px) {
  .c-slider {
    margin-left: -1rem;
    margin-right: -1rem;
  }
}
.c-slider .swiper-slide {
  padding: 0 1.6rem;
}
@media screen and (min-width: 768px) {
  .c-slider .swiper-slide {
    padding: 0 1.6rem;
  }
}
.c-slider .swiper-button-next,
.c-slider .swiper-button-prev {
  position: absolute;
  top: auto;
  left: auto;
  bottom: 0;
  width: 3.2rem;
  height: 3.2rem;
  border-radius: 50%;
  background-color: #eaeaea;
  z-index: 1;
}
.c-slider .swiper-button-next::after,
.c-slider .swiper-button-prev::after {
  content: "";
  position: absolute;
  top: -0.25rem;
  left: -0.25rem;
  display: block;
  clip-path: path("M 23.5587 16.916 C 24.1447 17.5 24.1467 18.446 23.5647 19.034 L 16.6077 26.056 C 16.3147 26.352 15.9287 26.5 15.5427 26.5 C 15.1607 26.5 14.7787 26.355 14.4867 26.065 C 13.8977 25.482 13.8947 24.533 14.4777 23.944 L 20.3818 17.984 L 14.4408 12.062 C 13.8548 11.478 13.8528 10.5279 14.4378 9.941 C 15.0218 9.354 15.9738 9.353 16.5588 9.938 L 23.5588 16.916 L 23.5587 16.916 Z");
  height: 3.2rem;
  aspect-ratio: 1;
  background-color: #333;
}
.c-slider .swiper-button-next.swiper-button-prev,
.c-slider .swiper-button-prev.swiper-button-prev {
  right: 5.6rem;
  transform: scale(-1, 1);
}
.c-slider .swiper-button-next.swiper-button-next,
.c-slider .swiper-button-prev.swiper-button-next {
  right: 1.6rem;
}
.c-slider .swiper-pagination {
  bottom: 1rem !important;
  left: 2.4rem !important;
  width: fit-content !important;
}
.c-slider .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #333333;
}

.bg-light {
  background-color: #fafafa;
}
.bg-dark {
  background-color: #333;
}

@media screen and (min-width: 768px) {
  section {
    padding: 4rem 0;
  }
}

.section__header {
  margin-bottom: 2rem;
}
.section__header--h2 {
  font-size: 2.4rem;
  font-weight: bold;
  text-align: center;
}
.section__header--h2--ja {
  display: block;
  font-size: 1.3rem;
  font-weight: normal;
  margin-top: 0.5rem;
  text-align: center;
}
.p-page .l-header--logo {
  color: #333333 !important;
}
.p-page .l-header__nav__btn--bar {
  background-color: #333333 !important;
}
.p-page-title {
  margin-bottom: 2.4rem;
}
.p-page-title h1 {
  font-size: 2.7rem;
  line-height: 1.56;
}
.p-page-title h1 span {
  display: block;
  font-size: 1.4rem;
  font-weight: normal;
}

.c-link {
  font-size: 1.3rem;
  padding-top: 3rem;
  text-decoration: underline;
}
.c-link.-center {
  display: block;
  text-align: center;
}

.p-about--mv {
  position: relative;
  height: 65vh;
}
.p-about--mv::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.28);
}
.p-about--img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.p-about--copy {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: fit-content;
  height: fit-content;
  margin: auto;
  font-size: 2.6rem;
  font-weight: 700;
  color: #ffffff;
}
.p-about--text {
  font-size: 1.7rem;
  font-weight: 700;
  padding: 2.4rem;
  color: rgb(29, 29, 31);
}
.p-about--text.js-typing {
  /*文字列後ろの線の設定*/
}
.p-about--text.js-typing span {
  display: none;
}
.p-about--text.js-typing::after {
  content: "|";
  animation: typinganime 0.8s ease infinite;
}

@keyframes typinganime {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.p-contact {
  height: 112vh;
}
@media screen and (min-width: 768px) {
  .p-contact {
    height: auto;
    background: #ffffff;
  }
}
.p-contact .sticky-wrapper {
  padding-top: 12vh;
  background: #ffffff;
}
@media screen and (min-width: 768px) {
  .p-contact .sticky-wrapper {
    padding-top: 0;
  }
}
.p-contact__content__form {
  width: 100%;
  height: auto;
  border: 1px solid #dedede;
  padding: 2rem 2rem;
  background: #ffffff;
}
.p-contact__content__form__row {
  position: relative;
  margin-bottom: 3rem;
}

.l-form-select, .l-form-input, .l-form-area {
  width: 100%;
  height: auto;
  padding: 1rem;
  border: 1px solid #d5d5d5;
  margin-top: 0.5rem;
  font-size: 1.6rem;
  border-radius: 0.25rem;
  background: #ffffff;
}
.l-form-select {
  cursor: pointer;
}

.l-form-label {
  display: block;
  font-size: 1.4rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.l-form-required {
  position: relative;
  width: fit-content;
}
.l-form-required::after {
  content: "必須";
  display: inline-block;
  position: absolute;
  top: 0;
  left: calc(100% + 1rem);
  font-size: 1rem;
  width: 3.2rem;
  padding: 0.25rem;
  text-align: center;
  color: #ffffff;
  background-color: #000000;
  box-sizing: border-box;
}

.l-form-select__arrow {
  position: absolute;
  bottom: 1.5rem;
  right: 2rem;
  display: inline-block;
  width: 1rem;
  height: 0.625rem;
  background: #000;
  display: inline-block;
  clip-path: polygon(0 0, 100% 0, 50% 100%);
  pointer-events: none;
}

.l-form-submit {
  display: block;
  width: 30rem;
  max-width: 100%;
  height: 4.5rem;
  margin: 0 auto;
  background-color: #000000;
  color: white;
  text-align: center;
  font-size: 1.6rem;
  font-weight: bold;
  border-radius: 0.5rem;
}

.p-cost--tabs {
  display: flex;
  gap: 1rem;
  margin-bottom: 2rem;
  padding: 0 3rem;
}
.p-cost--tab {
  flex: 1;
  font-size: 1.4rem;
  padding: 1rem;
  text-align: center;
  border-radius: 0.5rem;
  border: solid 1px #cccccc;
}
.p-cost--tab.-active {
  color: #ffffff;
  background-color: #333333;
}
.p-cost--contents {
  width: calc(100% - 4rem);
  margin-left: auto;
  margin-right: auto;
  padding: 0 1.6rem 1.6rem;
  border-radius: 0 0 1rem 1rem;
  background: #ffffff;
}
.p-cost--contents.-active {
  display: block;
}
.p-cost--title {
  padding: 1rem;
  font-size: 1.8rem;
  font-weight: 600;
  margin: 0 -1.6rem 1.6rem;
  text-align: center;
  color: #ffffff;
  border-radius: 0.5rem 0.5rem 0 0;
  background-color: #333333;
}
.p-cost--info h4 {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
}
.p-cost--info span {
  display: block;
  font-size: 1.2rem;
  color: #868686;
}
.p-cost--info strong {
  display: block;
  font-size: 1.8rem;
  font-weight: 900;
  margin: 1rem 0 2rem;
  line-height: 1.56;
}
.p-cost--info p {
  font-size: 1.4rem;
  line-height: 1.56;
}
.p-cost--case {
  margin-top: 1.5rem;
  padding-top: 1.5rem;
  border-top: solid 1px #cccccc;
}
.p-cost--case p {
  font-size: 1.3rem;
  margin-bottom: 1rem;
  line-height: 1.56;
}
.p-cost--range {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.p-cost--range p {
  width: 5.5rem;
  font-size: 1.3rem;
  font-weight: 600;
  margin-bottom: 0;
}
.p-cost--range-items {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.5rem;
}
.p-cost--range span {
  display: inline-block;
  padding: 0.5rem 1rem;
  color: #ffffff;
  border-radius: 100rem;
  background-color: #333333;
}

.p-flow .section__header {
  margin-top: 4rem;
}
.p-flow__slider {
  position: relative;
  padding-right: 3.6rem;
}
.p-flow__slider .swiper-slide {
  width: 26rem;
}
.p-flow__slider .swiper-pagination {
  bottom: 1rem !important;
  left: 1.6rem !important;
  width: fit-content !important;
}
.p-flow__slider .swiper-pagination .swiper-pagination-bullet {
  display: inline-block;
  font-size: 1.4rem;
  font-weight: 700;
  width: auto;
  height: auto;
  padding: 0;
  line-height: unset;
  color: #333333;
  opacity: 0.25;
  transition: all 0.4s;
  width: auto;
  height: auto;
  background: none;
}
.p-flow__slider .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  font-size: 1.8rem;
  opacity: 1;
  background: none;
}
.p-flow--item {
  position: relative;
  display: flex !important;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  height: 40rem !important;
  padding: 2.4rem 1.6rem;
  border-radius: 1.6rem;
  background-color: #ffffff;
  background-size: cover;
  background-position: center;
}
.p-flow--item::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 1.6rem;
  background-color: rgba(0, 0, 0, 0.36);
}
.p-flow--item.-cost {
  padding: 0;
}
.p-flow--item.-cost::after {
  content: none;
}
.p-flow--item.-cost .p-cost--contents {
  width: 100%;
}
.p-flow--item.-cost .p-cost--title {
  border-radius: 1.6rem 1.6rem 0 0;
}
.p-flow--item {
  position: relative;
  display: flex !important;
  justify-content: space-between;
  flex-direction: column;
  width: 26rem !important;
  height: 40rem;
  padding: 2.4rem 1.6rem;
  border-radius: 1.6rem;
  background-color: #ffffff;
  background-size: cover;
  background-position: center;
}
.p-flow--item::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 1.6rem;
  background-color: rgba(0, 0, 0, 0.36);
}
.p-flow--type {
  position: relative;
  font-weight: 600;
  margin-bottom: 1.5rem;
  margin-left: 0.55rem;
  padding: 0.25rem 0 0.4rem 1.5rem;
  line-height: 1;
}
.p-flow--type::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0.5rem;
  height: 100%;
  background-color: #333333;
}
.p-flow--title {
  position: relative;
  font-size: 1.8rem;
  font-weight: 600;
  color: #ffffff;
  z-index: 1;
}
.p-flow--title span {
  display: block;
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}
.p-flow--contents {
  position: relative;
  color: #ffffff;
  z-index: 1;
}
.p-flow--contents p {
  font-size: 1.4rem;
  line-height: 1.7;
}
.p-flow--contents a {
  position: relative;
  display: block;
  font-size: 1.4rem;
  font-weight: 700;
  width: fit-content;
  margin-top: 2rem;
  padding: 1rem 3rem 1rem 2rem;
  border-radius: 100rem;
  color: #333333;
  background: #ffffff;
}
.p-flow--contents a::before, .p-flow--contents a::after {
  content: "";
  position: absolute;
  top: 0.2rem;
  bottom: 0;
  right: 1.25rem;
  width: 1.2rem;
  height: 2px;
  margin: auto;
  background: #333333;
}
.p-flow--contents a::after {
  transform: rotate(90deg);
}
.l-footer {
  width: 100%;
  height: 5rem;
}
.l-footer p {
  width: 100%;
  text-align: center;
}

.l-header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 6rem;
  background-color: transparent;
  z-index: 999;
}
@media screen and (min-width: 768px) {
  .l-header {
    width: 48rem;
  }
}
.l-header--logo {
  font-size: 2rem;
  font-weight: bold;
  line-height: 6rem;
  color: #ffffff;
  transition: all 0.4s;
}
.l-header__nav__btn {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  mix-blend-mode: difference;
  position: absolute;
  top: 2rem;
  right: 3rem;
  width: 3rem;
  height: 2rem;
  z-index: 1000;
}
.l-header__nav__btn--bar {
  position: relative;
  height: 2px;
  background-color: #ffffff;
  mix-blend-mode: difference;
  border-radius: 9999px;
  transition: all 0.4s;
}
.l-header__nav__btn--bar:nth-child(1) {
  top: 0;
}
.l-header__nav__btn--bar:nth-child(3) {
  bottom: 0;
}
.l-header__nav__btn.open .l-header__nav__btn--bar:nth-child(1) {
  top: 50%;
  transform: rotate(45deg) translateY(-50%);
}
.l-header__nav__btn.open .l-header__nav__btn--bar:nth-child(2) {
  opacity: 0;
}
.l-header__nav__btn.open .l-header__nav__btn--bar:nth-child(3) {
  bottom: 50%;
  transform: rotate(-45deg) translateY(50%);
}
.l-header__nav__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: rgba(10, 10, 10, 0.72);
  position: fixed;
  top: 0;
  right: 0;
  padding: 20vh 3rem;
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s;
}
.l-header__nav__list__item {
  font-weight: bold;
  width: 100%;
  font-size: 2rem;
  text-align: center;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid white;
  margin-left: 0;
  margin-bottom: 3rem;
}
.l-header__nav__list__item a {
  color: #ffffff;
}
.l-header__nav.open .l-header__nav__list {
  opacity: 1;
  visibility: visible;
}
.l-header.black .l-header--logo {
  color: #333333;
}
.l-header.black .l-header__nav__btn--bar {
  background-color: #333333;
}

@media screen and (min-width: 768px) {
  .p-intro {
    height: 66.7rem;
    padding: 0;
  }
  .p-intro .sticky-wrapper {
    width: calc(100% + 4.4rem);
    height: 100%;
    margin: 0 -2.2rem;
  }
  .p-intro .sticky-inner {
    height: 100%;
  }
}
.p-intro--bg {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  margin: 0 -1rem;
  background-size: cover;
  background-position: center;
}
.p-intro--bg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  opacity: 0.3;
  transition: 0.6s;
}
.p-intro--inner {
  position: relative;
  width: fit-content;
  height: fit-content;
  padding: 0 2.4rem;
  z-index: 1;
}
@media screen and (min-width: 768px) {
  .p-intro--inner {
    padding: 0 4.8rem;
  }
}
.p-intro--title {
  font-size: 2.6rem;
  font-weight: 700;
  color: #ffffff;
  line-height: 1.56;
}
.p-intro--desc {
  font-size: 1.6rem;
  margin-top: 1rem;
  color: #ffffff;
}
.p-intro--bg.on-mask::before {
  opacity: 0.6;
}
.p-intro--bg.on-mask .p-intro--title .slide-in,
.p-intro--bg.on-mask .p-intro--desc .slide-in {
  animation-name: slideTextY100;
  animation-duration: 0.8s;
  animation-fill-mode: forwards;
  opacity: 0;
}
.p-intro--bg.on-mask .p-intro--title .slide-in_inner,
.p-intro--bg.on-mask .p-intro--desc .slide-in_inner {
  animation-name: slideTextY-100;
  animation-duration: 0.8s;
  animation-fill-mode: forwards;
  opacity: 0;
}

/* 上下のアニメーション*/
.downAnime {
  opacity: 0; /* 事前に透過0 にして消しておく*/
}

@keyframes slideTextY100 {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slideTextY-100 {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.p-member__list__item {
  position: relative;
  height: 100%;
  padding: 1.6rem;
  padding-bottom: 3.2rem;
  border-radius: 1.6rem;
  background-color: #ffffff;
}
.p-member__list__item .section__header--h2 {
  font-size: 2.4rem;
  font-weight: bold;
}
.p-member__list__item .section__header--h2--ja {
  display: block;
  font-size: 1.6rem;
  font-weight: 600;
  margin-top: 0.5rem;
  text-align: center;
}
.p-member__list__item--img {
  width: 100%;
  aspect-ratio: 16/10;
  object-fit: cover;
  margin-bottom: 1rem;
}
.p-member__list__item--name {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 0.25rem;
  line-height: 1.56;
}
.p-member__list__item--position {
  font-size: 1.3rem;
  margin-bottom: 1rem;
  line-height: 1.56;
}
.p-member__list__item--skill {
  display: block;
  line-height: 1.56;
}
.p-member__list__item--skill span {
  display: inline-block;
  font-size: 1.2rem;
  font-weight: 600;
  color: #6e6e73;
}
.p-member__list__item--skill span + span {
  position: relative;
  margin-left: 0.5rem;
  padding-left: 1rem;
}
.p-member__list__item--skill span + span::before {
  content: "/";
  position: absolute;
  left: 0;
  font-size: 1.2rem;
}

.p-menu {
  font-weight: bold;
}
.p-menu .sticky-wrapper {
  background-image: url("../img/img-mv-2.jpg");
  background-position: center;
  background-size: cover;
}
.p-menu .sticky-wrapper::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  z-index: 0;
}
.p-menu--title {
  position: relative;
  font-size: 1.6rem;
  font-weight: 800;
  margin-bottom: 1.6rem;
  color: #ffffff;
}
.p-menu--wrap {
  position: absolute;
  left: 2.4rem;
  bottom: 4rem;
}
.p-menu--item a {
  font-size: 2.1rem;
  color: #ffffff;
  text-decoration: underline;
}
.p-menu--item + li {
  margin-top: 1.6rem;
}

@media screen and (min-width: 768px) {
  .p-mv01 {
    height: 66.7rem;
    padding: 0;
  }
}
.p-mv01 .sticky-wrapper {
  background-image: url("../img/img-mv-1.jpg");
  background-position: center;
  background-size: cover;
}
@media screen and (min-width: 768px) {
  .p-mv01 .sticky-wrapper {
    height: 100%;
  }
}
.p-mv01 .sticky-wrapper::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  z-index: 0;
}
.p-mv01--h1 {
  position: absolute;
  top: 10rem;
  left: 0;
  right: 0;
  margin: auto;
  color: white;
  text-align: center;
  font-size: 3.6rem;
  line-height: 1.3;
  z-index: 0;
}
.p-mv01--h1 strong {
  display: block;
  font-size: 7.2rem;
}
.p-mv01--index {
  position: absolute;
  right: 2.4rem;
  bottom: 2.4rem;
}
.p-mv01--index ul li {
  font-size: 2.4rem;
  font-weight: 800;
  text-align: right;
  color: #ffffff;
}
.p-mv01--index ul li + li {
  margin-top: 1rem;
}
.p-mv01--index ul li span {
  display: inline-block;
  font-size: 1.8rem;
  font-weight: 500;
  margin-left: 1rem;
}
.p-mv01--scrolldown {
  position: absolute;
  left: 2.4rem;
  bottom: 3.2rem;
  height: 5rem;
}
.p-mv01--scrolldown span {
  position: absolute;
  left: -0.25rem;
  top: -3rem;
  color: #eee;
  font-size: 1rem;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  letter-spacing: 0.05em;
}
.p-mv01--scrolldown::after {
  content: "";
  position: absolute;
  top: 0;
  width: 1px;
  height: 3rem;
  background: #eee;
  animation: pathmove 1.4s ease-in-out infinite;
  opacity: 0;
}

@keyframes pathmove {
  0% {
    height: 0;
    top: 0;
    opacity: 0;
  }
  30% {
    height: 3rem;
    opacity: 1;
  }
  100% {
    height: 0;
    top: 5rem;
    opacity: 0;
  }
}
.p-mv02 {
  font-weight: bold;
}
.p-mv02 .sticky-wrapper {
  background-image: url("../img/img-mv-2.jpg");
  background-position: center;
  background-size: cover;
}
.p-mv02 .sticky-wrapper::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  z-index: 0;
}
.p-mv02__service {
  text-align: left;
  color: white;
  z-index: 0;
}
.p-mv02__service--item {
  font-size: 2.4rem;
  margin-bottom: 2rem;
}
.p-mv02__address {
  text-align: right;
  color: white;
  z-index: 0;
}
.p-mv02__address--item {
  font-size: 2.4rem;
  margin-bottom: 1rem;
}
.p-mv02__address--item--country {
  display: block;
  font-size: 1.8rem;
}

.p-news {
  height: 220vh;
}
@media screen and (min-width: 768px) {
  .p-news {
    height: auto;
  }
}
.p-news__slider .swiper-slide {
  height: auto;
}
.p-news__wrap .p-news__item + .p-news__item {
  margin-top: 4rem;
}
.p-news__item {
  display: block;
  height: 100%;
  padding: 1.6rem;
  border-radius: 1.6rem;
  background: #ffffff;
}
.p-news__img {
  aspect-ratio: 16/9;
}
.p-news__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.p-news__contents {
  padding-top: 1rem;
}
.p-news__contents time {
  display: block;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}
.p-news__contents p {
  font-size: 1.6rem;
  font-weight: bold;
  line-height: 1.56;
  margin-bottom: 0.75rem;
}
.p-news__contents small {
  display: block;
  font-size: 1.4rem;
  font-weight: normal;
  line-height: 1.56;
}
.p-news-single__header {
  margin-bottom: 4rem;
  padding-top: 4rem;
  padding-bottom: 4rem;
  border-top: solid 1px #000000;
  border-bottom: solid 1px #000000;
}
.p-news-single__header h2 {
  font-size: 2.4rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
}
.p-news-single__header p {
  font-size: 1.3rem;
  line-height: 1.56;
}
.p-news-single__header time {
  display: block;
  font-size: 1.2rem;
  margin-top: 1rem;
}
.p-news-editor {
  margin-bottom: 3rem;
  padding-bottom: 3rem;
  border-bottom: solid 1px #000000;
}
.p-news-editor > * + * {
  margin-top: 3rem;
}
.p-news-editor h1 {
  position: relative;
  font-size: 2.4rem;
  font-weight: 600;
  margin-bottom: 3rem;
  padding-bottom: 1.5rem;
  padding-left: 3rem;
  padding-bottom: 1rem;
  line-height: 1.3;
  border-bottom: solid 0.2rem #000000;
}
.p-news-editor h1::before {
  content: "";
  position: absolute;
  top: 1.7rem;
  left: 0;
  width: 1.8rem;
  height: 0.3rem;
  background-color: #000000;
}
.p-news-editor h2 {
  position: relative;
  font-size: 2.1rem;
  font-weight: 600;
  margin-bottom: 3rem;
  padding-bottom: 1rem;
  line-height: 1.3;
}
.p-news-editor h2::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 5rem;
  height: 0.2rem;
  background-color: #000000;
}
.p-news-editor h3 {
  font-size: 1.8rem;
  font-weight: 600;
  padding: 1rem;
  line-height: 1.56;
  color: #ffffff;
  background-color: #000000;
}
.p-news-editor h4 {
  position: relative;
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 4rem;
  padding: 0.4rem 0 0.4rem 1rem;
  line-height: 1.3;
  border-left: solid 0.4rem #000000;
}
.p-news-editor h5 {
  font-size: 1.6rem;
  font-weight: 600;
}
.p-news-editor p {
  font-size: 1.4rem;
  line-height: 1.7;
}
.p-news-editor p + p {
  margin-top: 2em;
}
.p-news-editor a {
  color: #000000;
  text-decoration: underline;
}
@media screen and (min-width: 768px) {
  .p-news-editor a:hover {
    text-decoration: none;
  }
}
.p-news-editor img {
  max-width: 100%;
  height: auto;
  border-radius: 1rem;
  overflow: hidden;
}
.p-news-editor figcaption {
  font-size: 1.6rem;
  font-weight: 500;
}
.p-news-editor ul li {
  font-size: 1.4rem;
  position: relative;
  padding-left: 1.3em;
  line-height: 1.7;
}
.p-news-editor ul li::before {
  content: "・";
  position: absolute;
  left: 0;
}
.p-news-editor ol {
  list-style: decimal;
  margin-left: 1.3em;
}
.p-news-editor ol li {
  font-size: 1.4rem;
  line-height: 1.7;
}
.p-news-editor .wp-block-button__link {
  position: relative;
  display: block;
  font-size: 1.6rem;
  width: fit-content;
  min-width: 30.8rem;
  margin: 5rem auto 0;
  padding: 1.5rem 1rem;
  letter-spacing: 0.1em;
  text-align: center;
  color: #ffffff;
  border-radius: 1000px;
  background-color: #000000;
  border: solid 2px #000000;
  transition: all 0.3s;
  overflow: hidden;
  outline-offset: 0.75rem;
  text-decoration: none;
}
@media screen and (min-width: 768px) {
  .p-news-editor .wp-block-button__link:hover {
    color: #000000;
    background-color: #ffffff;
  }
}
.p-news__back a {
  display: block;
  font-size: 1.2rem;
  text-align: center;
  text-decoration: underline;
}

.p-result__list {
  margin-top: 3rem;
}
.p-result__list .swiper-slide {
  width: 100% !important;
}
.p-result__list__item {
  position: relative;
  height: 100% !important;
  padding: 1.6rem;
  padding-bottom: 3.2rem;
  border-radius: 1.6rem;
  background-color: #ffffff;
}
.p-result__list__item .section__header--h2 {
  font-size: 2.4rem;
  font-weight: bold;
}
.p-result__list__item .section__header--h2--ja {
  display: block;
  font-size: 1.6rem;
  font-weight: 600;
  margin-top: 0.5rem;
  text-align: center;
}
.p-result__list__item--img {
  width: 100%;
  aspect-ratio: 16/10;
  object-fit: cover;
  margin-top: 1.6rem;
  margin-bottom: 1rem;
}
.p-result__list__item--desc {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  line-height: 1.56;
}
.p-result__list__item--info {
  display: block;
  font-size: 1.2rem;
  font-weight: 600;
  color: #6e6e73;
}
.p-result__list__item--skill {
  display: block;
  margin-bottom: 1rem;
  line-height: 1.56;
}
.p-result__list__item--skill span {
  display: inline-block;
  font-size: 1.2rem;
  font-weight: 600;
  color: #6e6e73;
}
.p-result__list__item--skill span + span {
  position: relative;
  margin-left: 0.5rem;
  padding-left: 1rem;
}
.p-result__list__item--skill span + span::before {
  content: "/";
  position: absolute;
  left: 0;
  font-size: 1.2rem;
}

.p-service--text {
  font-size: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 3rem;
  padding: 0 2rem;
  line-height: 1.56;
}
.p-service--inner {
  padding: 2.4rem 1.6rem;
  border-radius: 1.6rem;
  background: #ffffff;
}
.p-service--list {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem 2rem;
}
.p-service--item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 900;
  width: calc(50% - 1rem);
  text-align: center;
}
.p-service--item img {
  width: 6rem;
  height: 6rem;
}
.p-service--item p {
  font-size: 1.4rem;
  font-weight: 600;
  margin-top: auto;
}
.p-service--item.-small img {
  width: 5rem;
  height: 5rem;
}

/*# sourceMappingURL=style.css.map */
